certifi==2018.4.16
chardet==3.0.4
Cython==0.28.2
docutils==0.14
freeze==1.0.10
idna==2.6
Kivy-Garden==0.1.4
pip==10.0.1
pkg-resources==0.0.0
Pygments==2.2.0
requests==2.18.4
setuptools==39.0.1
six==1.11.0
urllib3==1.22
wheel==0.31.0
